.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid, 1px, grey;
    border-radius: 3px;
    width: 450px;
    height: 130px;
    justify-content: space-around;
}

.item {
    color: white;
    background-color: rgb(39, 61, 185);
    border: solid, 2px, lightblue;
    border-radius: 10px;
    width: 95px;
    height: 30px;
    align-content: center;
}