.bg1 {
    background-image: url("./immagini_css/images.jpeg");
    width: 250px;
    height: 90px;
    border: 1px solid black;
}

.bg2 {
    background-image: url("/home/rick/3INFO_2526/TPSI/aviano_riccardo/css/immagini_css/random.jpg");
    width: 40%;
    height: 90px;
    border: 1px solid black;
}

.bg3, .bg4, .bg5, .bg6 {
    background-image: url("./immagini_css/wGaAL.png");
    width: 250px;
    height: 90px;
    border: 1px solid black;
}

.bg3 {background-repeat: repeat; }

.bg4 {background-repeat: no-repeat; }

.bg5 {background-repeat: repeat-x; }

.bg6 {background-repeat: repeat-y; }