#id1{
    background-color:red;
}
#id2{
    background-color:#EA3B0F;
}
#id3{
    background-color:rgb(234,71,30);
}
#id4{
    background-color:rgba(234,83,45,0.5);
}
#id5{
    background-color:hsl(12,81,57);
}
#id6{
    background-color: hsla(12,81,57,0.8);
}