/*<!-- seleziona tutti i tag <p> -->*/
p { 
    color: chartreuse;
    text-align: left; 
}
/*<!-- seleziona il tag con id=prg1-->*/ 
#pr1 { 
  color: blue;
}
/*<!-- seleziona il tag con id=prg2--> */
#pr2 { 
  color: red; 
}
/*<!-- seleziona il tag con id=prg3--> */
#pr3 { 
 color: green; 
}


h1 { 
    color: blue;
}
h2 { 
  color: red;
}green
p {
  color: orange;
}


/*<!-- seleziona tutti i tag <p> 
  figli di un <div> -->*/
span > h1 {
    color: blue;
}
span > h2 {
    color: red;
}
span > p {
    color: purple;
}
div > p > span {
    color: rgb(10, 92, 10);
}