body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.galleria {
    margin: 0 auto;
    border-collapse: collapse;
}

.riga {
    display: inline-block;
}

.contenitore-immagine {
    width: 250px;
    border: 5px solid red;
    padding: 0;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.contenitore-immagine img {
    width: 250px;
    display: block;
}

.didascalia {
    padding: 8px;
    border-top: 1px solid black;
    background: white;
}