body {
  text-align: center;
  margin-top: 50px;
}

.cella {
  display: inline-block;
  width: 250px;      
  margin: 10px;   
  vertical-align: top;
}

.cella img {
  width: 250px;
  display: block;   
}

.didascalia {
  width: 250px;      
  padding: 8px;      
  border-bottom: 5px solid red; 
  
  box-sizing: border-box; 
}
