.nav {
    font-size: 0;
    padding: 0;
    margin-top:40px;
    margin-left: 40px;
}

.nav li {
    
    font-size: 15px;
    display: inline;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0px;
}

li:hover{
    background-color: rgb(99, 99, 99);
}