
.scacchiera{
    width: 800px;
    height: 800px;
}

.nera,.bianca{
    width: 100px;
    height: 100px;
    float: left;
}

.nera{
    background-color: black;
    color: white;
}

.bianca{
    background-color: white;
}