div {
    display: inline;
    height: 100px;
    border-radius: 5px;
}

body > div:nth-child(odd) {
    background-color: purple;
    color: white;
    padding-right: 50px;
    padding-bottom: 80px;
    border: 7px solid purple;
}