.container {
    display: flex;
    width: 550px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid #e6e6e6;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.item {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #6ba8b8;
    background-color: #496b97;
    color: white;
}